/* You can add global styles to this file, and also import other style files */
@import './assets/variables';

.center-position {
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.form-center {
  @extend .center-position;
  background: transparent;
}

.form-small {
  width: 75px;
}

.form-medium {
  width: 500px;
}

.forma-large {
  width: 1000px;
}